site_name: prueba_pagina

theme:
  name: material
  language: es
  features:
    - navigation.tabs
    - navigation.sections
    - search.highlight
    - content.code.copy

nav:
  - Inicio: index.md
  - Guia: guia.md
